* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins";
}

a {
  color: #f1f1f1;
}

body:active {
  cursor: grabbing;
}

body {
  overflow-x: hidden;
}